<%- include('../partials/header') %>
<main style="padding:20px">
  <h2>Crear Documento</h2>
  <form action="/admin/create" method="POST">
    <input name="title" placeholder="Título">
    <button type="submit">Crear</button>
  </form>
</main>
<%- include('../partials/footer') %>
