* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121212;
  color: #f1f1f1;
}

.contenedor {
  display: flex;
  height: 100px;
}


.principal {
  flex: auto;
  
}

.principal h1 {
  margin-bottom: 30px;
  font-size: 2em;
  text-align: center;
}

.cuadros {
display: flex;
justify-content: center;
margin-bottom: 40px;
}
.img-box {
    width: 400px;
    height: 300px;
    border: 6px solid #000;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: cover;
    box-shadow: 10px 10px 0px #ff69b4;
}
.img-box:hover {
    transform: translateY(-10px);
    box-shadow: 15px 15px 0px#000;
}


/* ---- SIDEBAR ---- */
.sidebar {
  width: 220px;
  background-color: #181818;
  border-left: 2px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
}

.logo {
  
  margin-left: 20px;
    margin-right: 20px;
    
  
}

.img-logo {
    height: 200px;
    width: 200px;


}

.sidebar nav {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.sidebar nav a {
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.sidebar nav a:hover {
  color: #00bcd4;
}

